---
interface Props {
  href1: string;
  href2: string;
  href3: string;
  hrefImg: string;
  altImg: string;
  title1: string;
  title2: string;
  title3: string;
}

const { href1, href2, href3, hrefImg, altImg, title1, title2, title3 } = Astro.props;
---

<nav class="flex flex-col md:flex-row md:justify-between bg-[#080808] text-slate-50 pt-5 pb-5">
  <div class="hidden md:flex md:items-center">
    <img class="lg:w-[100px] ml-5 pr-2" src={hrefImg} alt={altImg} />
  </div>
  <div class="flex flex-row items-center justify-center font-sans text-[20px] font-semibold mr-5 ml-5">
    <ul class="flex flex-row gap-4 content-between">
      <li>
        <a href={href1} class="text-white hover:text-[#ce83ec]">{title1}</a>
      </li>
      <li>
        <a href={href2} class="text-white hover:text-[#ce83ec]">{title2}</a>
      </li>
      <li>
        <a href={href3} class="text-white hover:text-[#ce83ec]">{title3}</a>
      </li>
    </ul>
  </div>
</nav>
